{% load static %}

<aside class="side-box">
    <!--TODO: допилить "липкость" в оба конца. JS?-->
    <div class="sticky-container">
        <div class="side-item">
            <header class="side-item-header">
                <h2 class="side-item-header-title">Топ статей</h2>
            </header>
            <div class="block-body">
                <ul>
                    {% for article in top_articles %}
                    <li class="block-item">
                        <article>
                            <h2>
                                <a href="{% url 'article:article_detail' article.pk"
                                   class="side-item-body-title"> {{ article.title }}
                                </a>
                            </h2>
                            <div class="block-icons icons-item">
                                <div>
                                    <span> <img style="height: 20px" src="{% static 'img/rating.jpg' %}" alt=""> </span>
                                    <span class="icon-counter"> {{article.rating }} </span>
                                </div>
                                <div class="item-comments-counter icons-item">
                                    <div>
                                        <a href="{% url 'article:article_detail' article.pk %}">
                                            <img style="height: 20px" src="{% static 'img/comments.png' %}" alt="">
                                        </a>
                                        <span class="icon-counter"> {{ article.comments.count }} </span>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <footer class="side-item-footer"></footer>
        </div>
        <div class="side-item">
            <header class="side-item-header">
                <h2 class="side-item-header-title">Читают сейчас</h2>
            </header>
            <div class="block-body">
                <ul>
                    {% for article in articles_read_now %}
                    <li class="block-item">
                        <article>
                            <h2>
                                <a href="{% url 'article:article_detail' article.pk"
                                   class="side-item-body-title"> {{ article.title }}
                                </a>
                            </h2>
                            <div class="block-icons icons-item">
                                <div>
                                    <span> <img style="height: 20px" src="{% static 'img/views.png' %}" alt=""> </span>
                                    <span class="icon-counter"> {{article.views }} </span>
                                </div>
                                <div class="item-comments-counter icons-item">
                                    <div>
                                        <a href="{% url 'article:article_detail' article.pk %}">
                                            <img style="height: 20px" src="{% static 'img/comments.png' %}" alt="">
                                        </a>
                                        <span class="icon-counter"> {{ article.comments.count }} </span>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <footer class="side-item-footer"></footer>
        </div>
    </div>
</aside>