<footer>
    <div class="footer-menu-box">
        <div class="container">
            <div class="footer-menu">
                <div class="footer-menu-card">
                    <h3 class="footer-card-title">Ваш аккаунт</h3>
                    <ul class="footer-card-content">
                        <li>
                            <a href=" {% url 'auth:login' %}" class="footer-card-item">Войти</a>
                        </li>
                        <li><a href="{% url 'auth:register' %}" class="footer-card-item">Регистрация</a></li>
                    </ul>
                </div>
                <div class="footer-menu-card">
                    <h3 class="footer-card-title">Разделы</h3>
                    <ul class="footer-card-content">
                        <li><a href="" class="footer-card-item">Публикации</a></li>
                        <li><a href="" class="footer-card-item">Хабы</a></li>
                    </ul>
                </div>
                <div class="footer-menu-card">
                    <h3 class="footer-card-title">Информация</h3>
                    <ul class="footer-card-content">
                        <li><a href="" class="footer-card-item">Устройство сайта</a></li>
                        <li><a href="" class="footer-card-item">Для авторов</a></li>
                        <li><a href="" class="footer-card-item">Соглашение</a></li>
                        <li><a href="" class="footer-card-item">Конфиденциальность</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="footer-wrapper">
                <span>&copy; GB-Agile-4 {% now 'Y' %}</span>
            </div>
        </div>
    </div>
</footer>
