<div class="main-menu-wrapper">
    <div class="container">
        <div class="main-menu-container">
            <!--Тематическое меню-->
            <nav class="main-menu">
                <ul>
                    <li><a href="/" class="main-menu-item main-menu-item-hover menu-item-active">Все потоки</a>
                    </li>
                    <li><a href="/" class="main-menu-item main-menu-item-hover">Разработка</a></li>
                    <li><a href="/" class="main-menu-item main-menu-item-hover">Администрирование</a></li>
                    <li><a href="/" class="main-menu-item main-menu-item-hover">Дизайн</a></li>
                    <li><a href="/" class="main-menu-item main-menu-item-hover">Менеджмент</a></li>
                    <li><a href="/" class="main-menu-item main-menu-item-hover">Маркетинг</a></li>
                    <li><a href="/" class="main-menu-item main-menu-item-hover">Научпоп</a></li>
                </ul>
            </nav>
            <!--Поиск и пользовательское меню-->
            <nav class="main-user-bar">
                <!--TODO: -->
                <!-- svg-->
                <a href="" class="main-user-item main-menu-item-hover">search</a>
                <div class="user-dropdown">
                    <!--TODO: выпадающее меню-->
                    <!-- svg-->
                    <!--<span class="main-user-item main-menu-item-hover">user</span>-->
                    <a href="" class="main-user-item main-menu-item-hover">login</a>
                    <a href="" class="main-user-item main-menu-item-hover">registration</a>
                </div>
            </nav>
        </div>
    </div>
</div>
