<aside class="side-box">
    <!--TODO: допилить "липкость" в оба конца. JS?-->
    <div class="sticky-container">
        <div class="side-item">
            <header class="side-item-header">
                <h2 class="side-item-header-title">Читают сейчас</h2>
            </header>
            <div class="block-body">
                <ul>
                    <li class="block-item">
                        <article>
                            <h2>
                                <a href="" class="side-item-body-title">Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit. Minima, quae!</a>
                            </h2>
                            <div class="block-icons icons-item">
                                <div class="item-counter">
                                    <!-- <svg class="counter-icon"></svg>-->
                                    <div class="counter-icon" title="Просмотры">svg</div>
                                    <span class="item-counter-value"
                                          title="Количество просмотров">162K</span>
                                </div>
                                <div class="item-comments-counter icons-item">
                                    <div class="item-comments">
                                        <a href="">
                                            <!-- <svg class="counter-icon"></svg>-->
                                            <div class="counter-icon" title="Читать комментарии">svg
                                            </div>
                                            <span class="item-counter-value"
                                                  title="Количество комментариев">24</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="block-item">
                        <article>
                            <h2>
                                <a href="" class="side-item-body-title">Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit. Minima, quae!</a>
                            </h2>
                            <div class="block-icons icons-item">
                                <div class="item-counter">
                                    <!-- <svg class="counter-icon"></svg>-->
                                    <div class="counter-icon" title="Просмотры">svg</div>
                                    <span class="item-counter-value"
                                          title="Количество просмотров">162K</span>
                                </div>
                                <div class="item-comments-counter icons-item">
                                    <div class="item-comments">
                                        <a href="">
                                            <!-- <svg class="counter-icon"></svg>-->
                                            <div class="counter-icon" title="Читать комментарии">svg
                                            </div>
                                            <span class="item-counter-value"
                                                  title="Количество комментариев">24</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="block-item">
                        <article>
                            <h2>
                                <a href="" class="side-item-body-title">Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit. Minima, quae!</a>
                            </h2>
                            <div class="block-icons icons-item">
                                <div class="item-counter">
                                    <!-- <svg class="counter-icon"></svg>-->
                                    <div class="counter-icon" title="Просмотры">svg</div>
                                    <span class="item-counter-value"
                                          title="Количество просмотров">162K</span>
                                </div>
                                <div class="item-comments-counter icons-item">
                                    <div class="item-comments">
                                        <a href="">
                                            <!-- <svg class="counter-icon"></svg>-->
                                            <div class="counter-icon" title="Читать комментарии">svg
                                            </div>
                                            <span class="item-counter-value"
                                                  title="Количество комментариев">24</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="block-item">
                        <article>
                            <h2>
                                <a href="" class="side-item-body-title">Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit. Minima, quae!</a>
                            </h2>
                            <div class="block-icons icons-item">
                                <div class="item-counter">
                                    <!-- <svg class="counter-icon"></svg>-->
                                    <div class="counter-icon" title="Просмотры">svg</div>
                                    <span class="item-counter-value"
                                          title="Количество просмотров">162K</span>
                                </div>
                                <div class="item-comments-counter icons-item">
                                    <div class="item-comments">
                                        <a href="">
                                            <!-- <svg class="counter-icon"></svg>-->
                                            <div class="counter-icon" title="Читать комментарии">svg
                                            </div>
                                            <span class="item-counter-value"
                                                  title="Количество комментариев">24</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="block-item">
                        <article>
                            <h2>
                                <a href="" class="side-item-body-title">Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit. Minima, quae!</a>
                            </h2>
                            <div class="block-icons icons-item">
                                <div class="item-counter">
                                    <!-- <svg class="counter-icon"></svg>-->
                                    <div class="counter-icon" title="Просмотры">svg</div>
                                    <span class="item-counter-value"
                                          title="Количество просмотров">162K</span>
                                </div>
                                <div class="item-comments-counter icons-item">
                                    <div class="item-comments">
                                        <a href="">
                                            <!-- <svg class="counter-icon"></svg>-->
                                            <div class="counter-icon" title="Читать комментарии">svg
                                            </div>
                                            <span class="item-counter-value"
                                                  title="Количество комментариев">24</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                </ul>
            </div>
            <footer class="side-item-footer"></footer>
        </div>
    </div>
</aside>