{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    <article class="content">
        {% block content_topsection %}
            <section class="top-section">
                <form class="form-search-horizontal" action="{% url 'search:search' %}" method="POST"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="search_bar-wrapper">
                        <input autofocus="autofocus" placeholder="Поиск" type="text" name="to_search" id="">
                        <div class="search_bar-icon">
                            <span class="icon-wrapper">
                                <object data="/static/img/icons/search.svg" type="image/svg+xml" width="20" height="20">
                                    <img src="/static/img/icons/search.png" alt="search">
                                </object>
                            </span>
                        </div>
                    </div>
                    <input hidden="hidden" type="submit" class="btn btn-primary" value="Найти">
                </form>
                {#                <div class="tabs-wrapper">#}
                {#                    <ul>#}
                {#TODO: ссылки по тематике после ввода условий поиска#}
                {#                        <li class="tab-item"><a href=" {% url 'mainapp:articles' 0 %}" class="tab-active">Статьи</a>#}
                {#                        </li>#}
                {#                        <li class="tab-item"><a href=" {% url 'mainapp:hubs' %}">Хабы</a></li>#}
                {#                        <li class="tab-item"><a href=" {% url 'mainapp:help' %}">Помощь</a></li>#}
                {#                    </ul>#}
                {#                </div>#}
                {#                <div class="button-wrapper">#}
                {#                    <!--TODO: выпадающее меню-->#}
                {#                    <button type="button" class="spoiler">Все подряд</button>#}
                {#                </div>#}
            </section>
        {% endblock %}
        {% block feed %}
            <div class="articles-list">
                {% for article in articles %}
                    {% if article.is_active %}
                        <article id={{ article.pk }} class="articles-list-item">
                            <div class="article-snippet">
                                <div class="article-snippet-meta">
                                    <a class="article-snippet-userpic"><img
                                            src="{{ MEDIA_URL }}{{ article.author.avatar }}"
                                            alt=""></a>
                                    <a href="" class="article-snippet-author">{{ article.author }}</a>
                                    <a href="/article/{{ article.pk }}/"
                                       class="article-snippet-title-link">{{ article.title }}</a>
                                    <span class="article-snippet-published">
                                        <time>{{ article.created_at }}</time>
                                    </span>
                                </div>
                            </div>
                        </article>
                    {% endif %}
                {% endfor %}
            </div>
        {% endblock %}
    </article>
    {% block sidebox %}
        {% include 'mainapp/includes/inc_side-box.html' %}
    {% endblock %}
{% endblock %}