{% extends 'authapp/base.html' %}
{% load static %}

{% block content %}
    <form class="form-horizontal" action="{% url 'auth:edit' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ edit_form.as_p }}
        {{ edit_profile_form.as_p }}
        <div style="display: flex; justify-content: space-between;">
        <input type="submit" class="btn btn-outline-success" value="Сохранить">
        <a class="btn btn-outline-danger" href="{{request.META.HTTP_REFERER}}">Назад</a>
        </div>
         {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
        {% endif %}
    </form>
{% endblock %}