{% extends 'authapp/base.html' %}
{% load static %}

{% block content %}
    <form class="form-horizontal" action="{% url 'auth:login' %}" method="POST">
        {% csrf_token %}
        {{ login_form.as_p }}
        <div style="display: flex; justify-content: space-around;">
        <input type="submit" class="btn btn-outline-dark" value="Войти">
        <a class="btn btn-outline-dark" href="{% url 'auth:register' %}">Регистрация</a>
        </div>
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
        {% endif %}
    </form>
    <hr>
{% endblock %}