{% extends 'authapp/base.html' %}
{% load static %}

{% block content %}
    <form action="{% url 'auth:register' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ register_form.as_p }}
        <div style="display: flex; justify-content: space-around;">
        <input type="submit" class="btn btn-outline-dark" value="Зарегистрироваться">
        <a class="btn btn-outline-dark" href="{% url 'auth:login' %}">Войти</a>
        </div>
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
        {% endif %}
    </form>
{% endblock %}