
{#TODO: Доработать css стили для comments#}

{#<div class="articles-list">#}
{#        <div class="articles-list-item">#}
{#                <div class="articleapp-snippet">#}
{#                        <h3>Комментарии</h3>#}
{#                </div>#}
{#        </div>#}
{#</div>#}

<div class="articles-list">
        <div class="articles-list-item">
                <div class="article-snippet">
                        <h2 class="comments-wrapper__title">
                            {% with comments.count as total_comments %}
                            <span class="comments-wrapper__comments-count">

                                        <h3>
                                            Комментарии: {{ total_comments }}
                                            <br>
                                            <br>
                                        </h3>
                            {% endwith %}
                             </span></h2>
                        {% for comment in comments %}
                            <div class="comment">
                                <h6 class="info">
                                    {{ comment.comment_author }}
                                    {{ comment.updated_at}}
                                </h6>
                                <h5>
                                    {{ comment.body|linebreaks }}
                                </h5>
                {% if comment.comment_author == user or user.is_staff %}
                <a class="pa-button-profile" style="background-color: #ff0000; width: 100px;"
                   href="{% url 'comment:delete' comment.pk %}">
                    Удалить
                </a>
                {% endif %}
                                <br>

                            </div>
                        {% empty %}
                            <br>
                            <br>
                            <p>Пока комментариев нет</p>
                            <br>
                            <br>
                        {% endfor %}

                        {% if user.is_authenticated %}
                            {% if new_comment %}
                                <h4>Ваш комментарий добавлен</h4>
                            {% else %}
                                <a class="" style=""
                                    href="{% url 'comment:add' article.pk %}">
                                    Добавьте новый комментарий
                                </a>

                                <br>
<!--                                <form action="." method="post">-->
<!--                                    {% csrf_token %}-->
<!--                                    {{ comment_form.as_p }}-->
<!--                                    <p><input type="submit" value="Добавить"></p>-->
<!--                                </form>-->
                            {% endif %}
                        {% else %}
                            <h4>Авторизируйтесь, чтобы написать комментарий</h4>
                        {% endif %}
                </div>
        </div>
</div>