
{#TODO: Доработать css стили для comments#}

{#<div class="articles-list">#}
{#        <div class="articles-list-item">#}
{#                <div class="articleapp-snippet">#}
{#                        <h3>Комментарии</h3>#}
{#                </div>#}
{#        </div>#}
{#</div>#}

<div class="articles-list">
        <div class="articles-list-item">
                <div class="article-snippet">
                        <h2 class="comments-wrapper__title">Комментарии
                            <span class="comments-wrapper__comments-count">10</span></h2>
                </div>
        </div>
</div>