
{#TODO: Доработать css стили для comments#}

{#<div class="articles-list">#}
{#        <div class="articles-list-item">#}
{#                <div class="articleapp-snippet">#}
{#                        <h3>Комментарии</h3>#}
{#                </div>#}
{#        </div>#}
{#</div>#}

<div class="articles-list">
        <div class="articles-list-item">
                <div class="article-snippet">
                        <h2 class="comments-wrapper__title">
                            {% with comments.count as total_comments %}
                            <span class="comments-wrapper__comments-count">

                                        <h3>
                                            Комментарии: {{ total_comments }}
                                            <br>
                                            <br>
                                        </h3>
                            {% endwith %}
                             </span></h2>
                        {% for comment in comments %}
                            <div class="comment">
                                <h6 class="info">
                                    {{ comment.comment_author }}
                                    {{ comment.updated_at}}
                                </h6>
                                <h5>
                                    {{ comment.body|linebreaks }}
                                </h5>
                                <br>
                                <table width="100%">
                                    <tr>
                                        <td width="50%">

                                            <a class="btn" href="/like/comment_like/{{ comment.pk }}">
                                                <i style="color:#000000" class="fa fa-thumbs-o-up fa-1x" ></i>
                                            </a> <span class="lead">{{ comment.likes }}</span>

                                            <a class="btn" href="/like/comment_dislike/{{ comment.pk }}"><i style="color:#000000" class="fa fa-thumbs-o-up fa-1x fa-rotate-180"></i></a> <span
                                                class="lead">{{ comment.dislikes }}</span></td>
                                        <td width="50%"></td>
                                    </tr>
                                </table>
                {% if comment.comment_author == user or user.is_staff %}
                <a class="pa-button-profile" style="background-color: #ff0000; width: 100px;"
                   href="{% url 'comment:delete' comment.pk %}">
                    Удалить
                </a>
                {% endif %}
                                <br>

                            </div>
                        {% empty %}
                            <br>
                            <br>
                            <p>Пока комментариев нет</p>
                            <br>
                            <br>
                        {% endfor %}

                        {% if user.is_authenticated %}
                            {% if new_comment %}
                                <h4>Ваш комментарий добавлен</h4>
                            {% else %}
                                <a class="" style=""
                                    href="{% url 'comment:add' article.pk %}">
                                    Добавить комментарий >>
                                </a>

                                <br>
                            {% endif %}
                        {% else %}
                            <a href=" {% url 'auth:login' %}?next={% firstof request.path '/' %}">
                                    Для добавления комментария
                                    <br>
                                     АВТОРИЗУЙТЕСЬ >>
                            </a>
                        {% endif %}
                </div>
        </div>
</div>