{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
            <div class="login" style="width: 700px; padding: 3% 3%;">
                <div class="text-center head">
                    {% if request.resolver_match.url_name == 'add_reply' %}
                    <p>Ответ на комментарий: {{comment.body}}</p>
                    {% else %}
                    <p>Комментарий к посту: {{article.title}}</p>
                    {% endif %}
                </div>
                <form class="form-horizontal" action="." method="post">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <input type="hidden" name="parent_id" value="{{ comment.id }}">
                    <div style="display: flex; justify-content: space-between;">
                        <input class="btn btn-primary" type="submit" value="Отправить">
                        <a class="btn btn-outline-danger" style="" href="/article/{{article.pk}}/">
                            Вернуться к статье
                        </a>
                    </div>
                </form>
                <hr>
            </div>
{% endblock %}