<div class="main-menu-wrapper">
    <div class="container">
        <div class="main-menu-container">
            <!--Тематическое меню-->
            <nav class="main-menu">
                <ul>
                    <li><a href="{% url 'content:articles' pk=0 %}" class="main-menu-item main-menu-item-hover menu-item-active">Все потоки</a></li>
                    {% for category in article_categories %}
                    <li><a href="{% url 'content:articles' pk=category.pk %}" class="main-menu-item main-menu-item-hover">{{category.name}}</a></li>
                    {% endfor %}
                </ul>
            </nav>
            <!--Поиск и пользовательское меню-->
            <nav class="main-user-bar">
                <!--TODO: -->
                <!-- svg-->
                <a href="" class="main-user-item main-menu-item-hover">search</a>
                <div class="user-dropdown">
                    <!--TODO: выпадающее меню-->
                    <!-- svg-->

                    {% if user.is_authenticated %}
                    <a href="{% url 'article:post' %}" class="main-user-item main-menu-item-hover">Написать</a>
                    <a href="{% url 'user:' %}" class="main-user-item main-menu-item-hover">
                        {{ user.username }}
                    </a>
                    <a href=" {% url 'auth:logout' %}" class="main-user-item main-menu-item-hover">logout</a>
                    {% else %}
                    <a href=" {% url 'auth:login' %}" class="main-user-item main-menu-item-hover">login</a>
                    <a href=" {% url 'auth:register' %}" class="main-user-item main-menu-item-hover">registration</a>
                    {% endif %}
                </div>
            </nav>
        </div>
    </div>
</div>
