{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    <!--Контент страницы-->
    <article class="content">
        {% block content_topsection %}
            <section class="top-section">
                <div class="section-name">
                    <h1>Все потоки</h1>
                </div>
                <div class="tabs-wrapper">
                    <ul>
                        <li class="tab-item"><a href=" {% url 'mainapp:articles' 0 %}">Статьи</a></li>
                        <li class="tab-item"><a href=" {% url 'mainapp:help' %}" class="tab-active">Помощь</a></li>
                    </ul>
                </div>
                <div class="button-wrapper">
                    <button type="button" class="spoiler">Все подряд</button>
                </div>
            </section>
        {% endblock %}
        {% block feed %}
            <div>
                <p>
                На Хабре интересуются IT и всеми сторонами современной жизни: программированием, технологиями,
                    дизайном, маркетингом. Не обязательно писать хардкорно, но важно, чтобы была польза.
                    Если у вас уже есть крутой материал на другой площадке, запостите его и здесь,
                    чтобы сообщество Хабра тоже его оценило.
                </p>
            </div>
            <div>
                <p>
                    Вы пишете первый пост, его проверяют модераторы, и, если всё хорошо, отправляют в основную ленту Хабра,
                    где он набирает просмотры, комментарии и рейтинг. В дальнейшем премодерация уже не понадобится.
                    Если с постом что-то не так, вас попросят его доработать.
                </p>
                <br>
            </div>
            <div>
                    {% if user.is_authenticated %}
                    <a class="btn btn-link" href="{% url 'article:post' %}">НАПИСАТЬ СТАТЬЮ</a>
                    {% else %}
                    <a class="btn btn-link" href=" {% url 'auth:login' %}">НАПИСАТЬ СТАТЬЮ</a>
                    {% endif %}
            </div>
        <br>
        <br>
            <div>
                <p>
Написать пост — значит как следует разложить всё по полочкам, обобщить опыт и поделиться им с другими. Приносить пользу чертовски приятно, попробуйте.
Никогда не угадаешь, кто прочитает ваш пост. Часто это те, кто разбирается в вопросе на голову лучше вас. Фидбэк от таких людей — возможно, самое ценное, что вы приобретете на Хабре.
Ваши публикации — это ваша репутация. Они лучше резюме расскажут, кто вы, чем занимаетесь и в чем разбираетесь.
За первый крутой пост вы получите полноправный аккаунт и плюс в карму.
В дальнейшем за статьи с высоким рейтингом по профильным темам мы можем поощрять материально. Для этого на Хабре есть Программа поощрения авторов.
Какой формат выбрать
Определитесь, что вы хотите написать. На Хабре есть несколько распространенных форматов. К каждому из них мы написали краткую инструкцию — они помогут структурировать текст.

Новости
Первыми узнали о сбое в Сети? Увидели новый продукт раньше всех? Прочитали свежий законопроект? Поделитесь с остальными.
Кейсы
Организовали умный дом за 10к рублей? Переехали в Новую Зеландию писать код по распознаванию киви? Пишите пост, это же очень интересно.
Туториалы
Справились с непростой задачей? Расскажите по пунктам, как ее решить — читатели будут благодарны.
Ретроспективы
Помните в подробностях, как зарождались вещи, к которым уже все привыкли? Кайф! Это то, что приятно почитать долгими зимними вечерами!
Обзоры
Вы перепробовали кучу моноколес, стриминговых сервисов или сред разработки? Поделитесь, что там к чему, на что лучше обратить внимание.
Мнения
У вас особый взгляд на острый вопрос? Хотите это обсудить? Напишите, что думаете, и готовьтесь провести вечер в комментариях.
Справочные
Вы глубоко изучили сложную тему? Готовы рассказать на пальцах, как все устроено? Дерзайте!
Интервью
Есть доступ к человеку с необычным опытом? Срочно берите его в охапку и задавайте вопросы. А что он ответил, потом расскажите Хабру.
Дайджесты
Накопилась подборка интересных ссылок и хочется поделиться своими открытиями? Вперед! Мы тут очень любознательные и с большим кругозором.
Репортажи
Попали на знаковое мероприятие? Расскажите о самом интересном сообществу Хабра.
Аналитика
Уловили тренды, понимаете что станет с рынком через полгода, нравится строить графики и диаграммы? Поделитесь, ведь обобщать данные не каждому дано.</p>
            </div>






        {% endblock %}
    </article>
    {% block sidebox %}
        {% include 'mainapp/includes/inc_side-box.html' %}
    {% endblock %}
{% endblock %}