{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    <!--Контент страницы-->
    <article class="content">
        {% block content_topsection %}
            <section class="top-section">
                <div class="section-name">
                    <h1>Все потоки</h1>
                </div>
                <div class="tabs-wrapper">
                    <ul>
                        <li class="tab-item"><a href=" {% url 'content:articles' 0 %}">Статьи</a></li>
                        <li class="tab-item"><a href=" {% url 'content:news' %}">Новости</a></li>
                        <li class="tab-item"><a href=" {% url 'content:hubs' %}" class="tab-active">Хабы</a></li>
                        <li class="tab-item"><a href=" {% url 'content:authors' %}">Авторы</a></li>
                        <li class="tab-item"><a href=" {% url 'content:companies' %}">Компании</a></li>
                    </ul>
                </div>
                <div class="button-wrapper">
                    <!--TODO: выпадающее меню-->
                    <button type="button" class="spoiler">Все подряд</button>
                </div>
            </section>
        {% endblock %}
        {% block feed %}
            <div>
                <h2>Раздел в разработке</h2>
            </div>
        {% endblock %}
    </article>
    {% block sidebox %}
        {% include 'mainapp/includes/inc_side-box.html' %}
    {% endblock %}
{% endblock %}