{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<!--Контент страницы-->
<article class="content">
    {% block content_topsection %}
    <section class="top-section">
        <div class="section-name">
            <h1>Все потоки</h1>
        </div>
        <div class="tabs-wrapper">
            <ul>
                <li class="tab-item"><a href=" {% url 'mainapp:articles' 0 %}" class="tab-active">Статьи</a></li>
                <li class="tab-item"><a href=" {% url 'mainapp:help' %}">Помощь</a></li>

            </ul>
        </div>
        <div class="button-wrapper">
            <!--TODO: выпадающее меню-->
            <button type="button" class="spoiler">Все подряд</button>
        </div>
    </section>
    {% endblock %}
    {% block feed %}
    <!--Обёртка для статей в ленте-->
    <div class="articles-list">
        {% for article in articles %}
        {% if article.is_moderated and article.is_active %}
        <article id={{ article.pk }} class="articles-list-item">
            <div class="article-snippet">
                <div class="article-snippet-meta">
                            <a class="article-snippet-userpic"><img src="{{ MEDIA_URL }}{{ article.author.avatar }}" alt=""></a>
                            <a href="" class="article-snippet-author">{{ article.author }}</a>
                            <span class="article-snippet-published">
                                <time>{{ article.created_at }}</time>
                            </span>
                        </div>
                <h2 class="article-snippet-title">
                    <a href="/article/{{article.pk}}/" class="article-snippet-title-link">{{ article.title }}</a>
                </h2>
                <p> {{ article.body }}</p>
            </div>
            <div class="article-icons">
                <!--TODO: допилить иконки-->
                <div>
                    <div class="votes-meter">Голоса</div>
                </div>
                <div><span class="icon-counter" title="Количество просмотров">Просмотры</span></div>
                <div>
                    <button title="Добавить в закладки">В закладки</button>
                </div>
                <div>
                    <div class="comments-counter-link" title="Читать комментарии">Комменты</div>
                </div>
            </div>
        </article>
        {% endif %}
        {% endfor %}
    </div>
    {% endblock %}
</article>
{% block sidebox %}
{% include 'mainapp/includes/inc_side-box.html' %}
{% endblock %}
{% endblock %}