{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<!--Контент страницы-->
<article class="content">
    {% block content_topsection %}
    <section class="top-section">
        <div class="section-name tabs-wrapper">
            {% if category_item %}
            <h1>{{ category_item.name }}</h1>
            {% else %}
            <h1>Все потоки</h1>
            {% endif %}
           <form class="form-inline my-2 my-lg-0" action="{% url 'search:search' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input class="form-control mr-sm-2" type="text" name="title" placeholder="Поиск" value="{{ query }}" id="">
                <input class="btn btn-outline-success my-2 my-sm-0" type="image" src="{{ MEDIA_URL }}searchapp/icon-searchapp.svg">
            </form>
        </div>
    </section>
    {% endblock %}
    {% block feed %}
    <!--Обёртка для статей в ленте-->
    <div class="articles-list">
        {% for article in articles %}
            {% include 'articleapp/includes/inc_article_preview.html' %}
        {% endfor %}
    </div>
    {% endblock %}
</article>
{% block sidebox %}
{% include 'mainapp/includes/inc_side-box.html' %}
{% endblock %}
{% endblock %}