{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    <style>
        .hidden{
            display: none;
        }
        [data-editorjs-wrapper] {
            border: None !important;
        }

    </style>
    <!--Контент страницы-->
    <article class="content">
        {% block feed %}
            <!--Обёртка для статей в ленте-->
            <div class="articles-list">
                <div class="articles-list-item">
                    <div class="article-snippet">
                        <p>{{ user }} сегодня в {{ time }} </p>
                                <div class="article-editor">
                                    <form method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ form.media }}
                                        {{ form.as_p }}
                                        <input class= "submit-button" type="submit" value="Опубликовать" >
                                    </form>
                                </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </article>
    {% block sidebox %}
        {% include 'mainapp/includes/inc_side-box.html' %}
    {% endblock %}
{% endblock %}